<template>
    <div class="permissions-form">

        <!-- Permissions -->
        <div class="permissions-groups" v-if="mutablePermissionGroups.length > 0">

            <!-- Permission group -->
            <div class="permission-group" v-for="(group, gi) in permissionGroups" :key="gi">
                <div class="permission-group__header">
                    <div class="permission-group__header-text">{{ group.name }}</div>
                </div>
                <div class="permission-group__permissions" v-if="group.permissions.length > 0">
                    <div class="permission" v-for="(permission, pi) in group.permissions" :key="pi">
                        <div class="permission-name">{{ permission.name }}</div>
                        <div class="permission-field">
                            <v-checkbox v-model="mutablePermissionGroups[gi].permissions[pi].selected" hide-details class="mb-0 mt-0"></v-checkbox>
                            <input type="hidden" :name="permission.name" :value="mutablePermissionGroups[gi].permissions[pi].selected" />
                        </div>
                    </div>
                </div>
                <div class="permission-group__no-permissions" v-if="group.permissions.length === 0">
                    
                </div>
            </div>

        </div>

        <!-- No permissions -->
        <div class="no-permissions" v-if="mutablePermissionGroups.length === 0">
            No permissions currently exist in the database.
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            "role",
            "permissions",
            "permissionGroups",
            "oldInput"
        ],
        data: () => ({
            tag: "[permissions-form]",
            mutablePermissionGroups: [],
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" role: ", this.role);
                console.log(this.tag+" permissions: ", this.permissions);
                console.log(this.tag+" permission groups: ", this.permissionGroups);
                console.log(this.tag+" old input: ", this.oldInput);
                this.initializeData();
            },
            initializeData() {

                // Process all of the permission groups
                for (let i = 0; i < this.permissionGroups.length; i++) {
                    let group = this.permissionGroups[i];
                    if (group.permissions.length > 0) {
                        let permissions = [];
                        for (let j = 0; j < group.permissions.length; j++) {
                            let permission = group.permissions[j];
                            permission.selected = false;
                            if (this.role !== undefined && this.role !== null && this.role.permissions.length > 0) {
                                for (let k = 0; k < this.role.permissions.length; k++) {
                                    if (this.role.permissions[k].name === permission.name) {
                                        permission.selected = true;
                                        break;
                                    }
                                }
                            }
                            permissions.push(permission);
                        }
                        group.permissions = permissions;
                    }
                    this.mutablePermissionGroups.push(this.permissionGroups[i]);
                }
                
                // Collect all of the permissions that don't have a parent PermissionGroup
                let grouplessPermissions = [];
                for (let i = 0; i < this.permissions.length; i++) {
                    if (this.permissions[i].permission_group_id === 0) {
                        let permission = this.permissions[i];
                        permission.selected = false;
                        grouplessPermissions.push(this.permission);
                    }
                }
                
                // If we found some permissions that don't have a group
                if (grouplessPermissions.length > 0) {
                    // Create a new group for them and add it to the collection of mutable groups
                    this.mutablePermissionGroups.push({
                        name: "Individual permissions",
                        description: "All permissions that haven't been grouped.",
                        permissions: grouplessPermissions
                    });
                }

            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .permissions-form {
        overflow: hidden;
        border-radius: 3px;
        .permissions-groups {
            .permission-group {
                .permission-group__header {
                    display: flex;
                    flex-direction: row;
                    padding: 15px 25px;
                    box-sizing: border-box;
                    background-color: #fcfcfc;
                    .permission-group__header-text {
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .permission-group__header-actions {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
                .permission-group__permissions {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    .permission {
                        display: flex;
                        flex: 0 0 25%;
                        flex-direction: row;
                        border-right: 1px solid #fcfcfc;
                        border-bottom: 1px solid #fcfcfc;
                        .permission-name {
                            flex: 1;
                        }
                        .permission-field {
                            // flex: 1;
                        }
                        .permission-name, .permission-field {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 10px 25px;
                            box-sizing: border-box;
                        }
                        &:nth-child(4n) {
                            border-right: 0;
                        }
                    }
                }
            }
        }
        .no-permissions {
        }
    }
</style>