<template>
    <div class="permission-list">

        <!-- Permission groups -->
        <div class="permission-groups" v-if="mutableGroups.length > 0">

            <!-- Permission group -->
            <div class="permission-group" v-for="(group, gi) in mutableGroups" :key="gi">

                <!-- Header -->
                <div class="permission-group__header">
                    <div class="group-name">{{ group.name }}</div>
                    <div class="group-description">{{ group.description }}</div>
                </div>

                <!-- Permissions -->
                <div class="permission-group__permissions">

                    <!-- Permission -->
                    <div class="permission" v-for="(permission, pi) in group.permissions" :key="pi">
                        
                        <!-- Name -->
                        <div class="permission__name">
                            {{ permission.name }}
                        </div>
                        
                        <!-- Status -->
                        <div class="permission__status">
                            <div class="has-permission" v-if="permission.enabled">
                                <i class="far fa-check-circle"></i>
                            </div>
                            <div class="no-permission" v-else>
                                <i class="far fa-times-circle"></i>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            
        </div>

        <!-- No permission groups -->
        <div class="no-permission-groups" v-if="mutableGroups.length === 0">
            No permissions
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            "permissions",
            "permissionGroups",
        ],
        data: () => ({
            tag: "[permission-list]",
            mutableGroups: [],
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" permission groups: ", this.permissionGroups);
                console.log(this.tag+" entity's permissions: ", this.permissions);
                this.initializeData();
            },
            initializeData() {

                // Loop through all of the groups
                for (let i = 0; i < this.permissionGroups.length; i++) {
                    
                    // Save reference to the group
                    let group = this.permissionGroups[i];

                    // Collect new permissions of the group
                    let permissions = [];

                    // If there are permissions on the group
                    if (group.permissions.length > 0) {

                        // Loop through all of the group's permissions
                        for (let j = 0; j < group.permissions.length; j++) {
                            
                            // Determine if the role has enabled this role
                            let enabled = false;
                            if (this.permissions.length > 0) {
                                for (let k = 0; k < this.permissions.length; k++) {
                                    if (this.permissions[k].name === group.permissions[j].name) {
                                        enabled = true;
                                        break;
                                    }       
                                }
                            }

                            // Save a reference to the group permission we're processing
                            let permission = group.permissions[j];
                            permission.enabled = enabled;

                            // Add the group permission to the permissions
                            permissions.push(permission);

                        }

                    }
                    
                    // Override the group's permissions with the pimped out ones
                    group.permissions = permissions;

                    // Add the updated group to the mutable groups array
                    this.mutableGroups.push(group);

                }

            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .permission-list {
        .permission-groups {
            overflow: hidden;
            border-radius: 3px;
            .permission-group {
                .permission-group__header {
                    padding: 10px 15px;
                    box-sizing: border-box;
                    background-color: #fcfcfc;
                    .group-name {
                        
                    }
                    .group-description {
                        font-size: .8em;
                        color: rgba(0, 0, 0, 0.55);
                    }
                }
                .permission-group__permissions {
                    .permission {
                        display: flex;
                        font-size: .9em;
                        padding: 5px 15px;
                        flex-direction: row;
                        box-sizing: border-box;
                        border-bottom: 1px solid #fcfcfc;
                        &:last-child {
                            border-bottom: 0;
                        }
                        .permission__name {
                            flex: 0 0 300px;
                        }
                        .permission__status {
                            flex: 1;
                            .no-permission {
                                color: #F44336;
                            }
                            .has-permission {
                                color: #4CAF50;
                            }
                        }
                    }
                }
            }
        }
        .no-permission-groups {
            padding: 25px;
            box-sizing: border-box;
        }
    }
</style>