<template>
    <div class="permission-overview">

        <!-- Group overview -->
        <div class="groups" v-if="permissionGroups.length > 0">

            <!-- Group -->
            <div class="group elevation-2" v-for="(group, gi) in permissionGroups" :key="gi">

                <!-- Header -->
                <div class="group-header">
                    <div class="group-name">{{ group.name }}</div>
                    <div class="group-desc" v-if="group.description">{{ group.description }}</div>
                </div>

                <!-- Permissions -->
                <div class="group-permissions" v-if="hasPermissions(group)">
                    <div class="group-permissions__row header">
                        <div class="group-permissions__col"></div>
                        <div class="group-permissions__col" v-for="(role, ri) in roles" :key="ri">
                            {{ role.formatted_name }}
                        </div>
                    </div>
                    <div class="group-permissions__row" v-for="(permission, pi) in group.permissions" :key="pi">
                        <div class="group-permissions__col">{{ permission.name }}</div>
                        <div class="group-permissions__col" v-for="(role, ri) in roles" :key="ri">
                            <div class="role-has-no-permission" v-if="roleHasPermission(role, permission)">
                                <i class="far fa-times-circle"></i>
                            </div>
                            <div class="role-has-permission" v-else>
                                <i class="far fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- No permissions -->
                <div class="no-group-permissions" v-if="!hasPermissions(group)">
                    This permission group does not have any permissions at the moment.
                </div>

            </div>

        </div>

        <!-- No groups found -->
        <div class="no-permission-groups elevation-2" v-if="permissionGroups.length === 0">
            No permission groups have been found in the database.
        </div>
        
    </div>
</template>

<script>
    export default {
        props: [
            "roles", 
            "permissionGroups",
        ],
        data: () => ({
            tag: "[permission-overview]"
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" roles: ", this.roles);
                console.log(this.tag+" permissions groups: ", this.permissionGroups);
                this.initializeData();
            },
            initializeData() {
                
            },
            hasPermissions(group) {
                return group.permissions !== undefined && group.permissions !== null && group.permissions.length > 0;
            },
            roleHasPermission(role, permission) {
                if (role.permissions !== undefined && role.permissions !== null && role.permissions.length > 0) {
                    for (let i = 0; i < role.permissions.length; i++) {
                        if (role.permissions[i].name === permission.name) {
                            return true;
                        }
                    }
                }
                return false;
            },

        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .permission-overview {
        .groups {
            .group {
                overflow: hidden;
                border-radius: 3px;
                margin-bottom: 30px;
                background-color: #ffffff;
                &:last-child {
                    margin-bottom: 0;
                }
                .group-header {
                    padding: 10px 15px;
                    box-sizing: border-box;
                    background-color: #fcfcfc;
                    .group-name {
                        font-size: 1.1em;
                    }
                    .group-desc {
                        font-size: .85em;
                        color: rgba(0, 0, 0, .55);
                    }
                }
                .group-permissions {
                    .group-permissions__row {
                        display: flex;
                        flex-direction: row;
                        border-bottom: 1px solid #fcfcfc;
                        &:last-child {
                            border-bottom: 0;
                        }
                        .group-permissions__col {
                            flex: 1;
                            display: flex;
                            padding: 5px 15px;
                            flex-direction: row;
                            align-items: center;
                            box-sizing: border-box;
                            justify-content: center;
                            border-right: 1px solid #fcfcfc;
                            &:first-child {
                                flex: 0 0 300px;
                                justify-content: flex-start;
                            }
                            &:last-child {
                                border-right: 0;
                            }
                            .role-has-no-permission {
                                color: #F44336;
                            }
                            .role-has-permission {
                                color: #4CAF50;
                            }
                        }
                    }
                }
                .no-group-permissions {
                    padding: 15px;
                    box-sizing: border-box;
                }
            }
        }
        .no-permission-groups {
            padding: 25px;
            box-sizing: border-box;
            background-color: #ffffff;
        }
    }
</style>