<template>
    <div id="role-form">

        <!-- Name -->
        <div class="field">
            <v-text-field label="Name" v-model="form.name" name="name" class="mb-0" hide-details></v-text-field>
        </div>

        <!-- Icon -->
        <div class="field">
            <v-text-field label="Icon" v-model="form.icon" name="icon" hint="Using HTML is required so we can support fontawesome, material icons & custom icons :D" persistent-hint></v-text-field>
        </div>

        <!-- Text color -->
        <div class="field">
            <color-field label="Text color" v-model="form.textColor" name="text_color" mode="hex" alpha></color-field>
        </div>

        <!-- Background color -->
        <div class="field">
            <color-field label="Background color" v-model="form.bgColor" name="bg_color" mode="hex" alpha></color-field>
        </div>

        <!-- Permissions -->
        <!-- TODO: OVERVIEW COMPONENT HERE -->

    </div>
</template>

<script>
    export default {
        props: [
            "role",
            "oldInput"
        ],
        data: () => ({
            tag: "[role-form]",
            form: {
                name: "",
                icon: "",
                bgColor: "#f5f5f5",
                textColor: "#000000",
            },
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" role: ", this.form);
                console.log(this.tag+" old input: ", this.oldInput);
                this.initializeData();
            },
            initializeData() {
                if (this.role !== undefined && this.role !== null) {
                    this.form.name = this.role.name;
                    this.form.icon = this.role.icon;
                    this.form.bgColor = this.role.bg_color;
                    this.form.textColor = this.role.text_color;
                }
                if (this.oldInput !== undefined && this.oldInput !== null) {
                    if (this.oldInput.name !== null) this.form.name = this.oldInput.name;
                    if (this.oldInput.icon !== null) this.form.icon = this.oldInput.icon;
                    if (this.oldInput.bg_color !== null) this.form.bgColor = this.oldInput.bg_color;
                    if (this.oldInput.text_color !== null) this.form.textColor = this.oldInput.text_color;
                }
            },
            
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    #role-form {
        .field {
            margin-bottom: 15px;
        }
    }
</style>