//------------------------------------------
// Imports
//------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Serif+Pro:400,700');
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

//------------------------------------------
// Variables
//------------------------------------------

$auth-layout-width: 1000px;

$heading-font: 'Source Serif Pro', serif;
$primary-font: 'Open Sans', sans-serif;

//------------------------------------------
// Dependencies
//------------------------------------------

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

//------------------------------------------
// General styling 
//------------------------------------------

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    font-family: $primary-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

//------------------------------------------
// Master layout
//------------------------------------------

#app {
    width: 100%;
    color: #ffffff;
    background-color: #333;
    #auth-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        #header {
            display: flex;
            flex: 0 0 200px;
            align-items: center;
            justify-content: center;
            background-color: #050b49;
            a, a:active, a:visited, a:link, a:hover {
                color: #ffffff;
                text-decoration: none;
                #header-title {
                    margin: 0;
                    font-size: 5em;
                    color: #ffffff;
                    text-transform: uppercase;
                }
            }
        }
        #content {
            flex: 1;
            display: flex;
            margin: 0 auto;
            padding: 100px 0 0 0;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            width: $auth-layout-width;
        }
        #footer {
            display: flex;
            flex: 0 0 100px;
            align-items: center;
            justify-content: center;
        }
    }
}

#auth-content-card {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
    flex-direction: row;
    &.no-panel {
        width: 700px;
        margin: 0 auto;
    }
    #auth-content-card__left, #auth-content-card__right, #auth-content-card__content {
        flex: 1;
        &.double-size {
            flex: 2;
        }
        #auth-content-card__cinematic {
            height: 100%;
            padding: 50px;
            box-sizing: border-box;
            background-color: #000000;
            #card-title {
                font-size: 1.2em;
                text-transform: uppercase;
            }
            #card-subtitle {

            }
        }
        #auth-content-card__form {
            height: 100%;
            display: flex;
            color: #000000;
            flex-direction: column;
            box-sizing: border-box;
            background-color: #ffffff;
            padding: 50px 50px 35px 50px;
            #form-title {
                margin-top: -6px;
            }
            #form-subtitle {
                margin-bottom: 30px;
            }
            form {
                flex: 1;
            }
            #auth-actions {
                display: flex;
                margin-top: 30px;
                flex-direction: row;
                justify-content: space-between;
                .auth-action {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &.right {
                        justify-content: flex-end;
                    }
                }
                .v-btn {
                    margin: 0;
                }
            }
        }
        #auth-content-card__message {
            display: flex;
            height: 400px;
            color: #000000;
            align-items: center;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            background-color: #ffffff;
            padding: 50px 50px 30px 50px;
            #message-title {
                margin-bottom: 10px;
            }
            #message-text {
                font-size: 1em;
            }
            #message-icon {
                font-size: 100px;
                margin-top: 15px;
            }
            #message-actions {
                margin-top: 15px;
            }
        }
    }
}

.v-btn {
    .v-icon, .fa, .fas, .far {
        margin-right: 10px;
    }
}

// -------------------------------------------------------------------
// Auth form controls
// -------------------------------------------------------------------

.auth-form-controls {
    display: flex;
    flex-direction: row;
    .auth-form-controls__left, .auth-form-controls__right {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .auth-form-controls__right {
        justify-content: flex-end;
    }
}

// -------------------------------------------------------------------
// Feedback partials
// -------------------------------------------------------------------

.form-errors {
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #B71C1C;
    .form-errors__list {
        margin: 0;
        padding: 0;
        list-style: none;
        .form-error {
            color: #ffffff;
            margin-bottom: 5px;
            box-sizing: border-box;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.alert-wrapper {
    margin-bottom: -20px;
    padding: 50px 50px 0 50px;
}
.alert {
    color: #fff;
    border-radius: 3px;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #ccc;
    margin-bottom: 30px;
}
.alert-success {
    background-color: #00ab16;
}
.alert-info {
    background-color: #01d3e8;
}
.alert-danger {
    background-color: #d50d06;
}
.alert-warning {
    background-color: #d55706;
}

// -------------------------------------------------------------------
// 2 Factor auth
// -------------------------------------------------------------------

#tfa-setup {
    width: 600px;
    margin: 0 auto;
    color: #000000;
    #tfa-setup__header {
        #tfa-setup__header-title {
            text-align: center;
            margin: 0 0 0px 0;
        }
        #tfa-setup__header-subtitle {
            font-size: 1em;
            text-align: center;
            margin: 0 0 30px 0;
        }
    }
    #tfa-setup__card {
        margin: 0 0 30px 0;
        border-radius: 3px;
        background-color: #ffffff;
        #tfa-setup__card-content {
            padding: 30px;
            box-sizing: border-box;
            #tfa-setup__card-image {
                display: flex;
                margin-bottom: 30px;
                align-items: center;
                justify-content: center;
            }
        }
        #tfa-setup__card-footer {
            display: flex;
            flex-direction: row;
            padding: 15px 30px;
            box-sizing: border-box;
            justify-content: center;
            background-color: #f5f5f5;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            a, a:active, a:visited {
                transition: all .3s;
                text-decoration: none;
                color: rgba(0, 0, 0, 0.55);
            }
            a:hover {
                text-decoration: none;
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}

#tfa {
    width: 500px;
    padding: 30px;
    margin: 0 auto;
    color: #000000;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ffffff;
    #tfa__header {
        margin: 0 0 30px 0;
        #tfa__header-title {
            margin: 0;
            text-align: center;
        }
        #tfa__header-subtitle {
            text-align: center;
            margin: 0;
        }
    }
    #tfa__image {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }
    #tfa__text {
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 15px;
    }
    #tfa__recovery-codes {
        border-radius: 3px;
        margin-bottom: 15px;
        background-color: #f5f5f5;
        .recovery-code {
            padding: 5px 15px;
            box-sizing: border-box;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    #tfa__recovery-text {
        padding: 10px;
        margin: -5px 0 15px 0;
        box-sizing: border-box;
        background-color: #fcfcfc;
    }
    #tfa__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        #tfa__code-input {
            flex: 1;
        }
        #tfa__actions {
            margin-left: 15px;
        }
    }
    #tfa__controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .v-btn {
            .svg-inline--fa, .far, .fas {
                margin: 0 0 0 10px;
            }
        }
    }
}

// -------------------------------------------------------------------
// 
// -------------------------------------------------------------------
