<template>
    <div id="user-form">

        <!-- Tabs -->
        <v-tabs v-model="activeTab" color="black" dark slider-color="white">
            
            <!-- Tab headers -->
            <v-tab>User details</v-tab>
            <v-tab>Permissions</v-tab>

            <!-- User details -->
            <v-tab-item>
                <div class="tab-content">

                    <!-- Roles -->
                    <v-select label="Role(s)" v-model="form.roles" :items="roleOptions" multiple></v-select>
                    <input type="hidden" name="roles" :value="encodedRoles" />

                    <!-- Name fields -->
                    <div id="name-fields">
                        <div id="name-fields__annotation">
                            <v-select label="Annotation" v-model="form.annotation" :items="annotationOptions"></v-select>
                            <input type="hidden" name="annotation" :value="form.annotation" />
                        </div>
                        <div id="name-fields__first-name">
                            <v-text-field label="First name" v-model="form.firstName" name="first_name"></v-text-field>
                        </div>
                        <div id="name-fields__last-name">
                            <v-text-field label="Last name" v-model="form.lastName" name="last_name"></v-text-field>
                        </div>
                    </div>

                    <!-- Email -->
                    <v-text-field label="Email" v-model="form.email" name="email"></v-text-field>

                    <!-- Email verified -->
                    <v-select label="Email verified" v-model="form.emailVerified" :items="booleanOptions"></v-select>
                    <input type="hidden" name="email_verified" :value="form.emailVerified" />

                    <!-- Password -->
                    <v-text-field type="password" label="Password" v-model="form.password" name="password"></v-text-field>

                    <!-- Confirm password -->
                    <v-text-field type="password" label="Confirm password" v-model="form.passwordConfirmation" name="password_confirmation"></v-text-field>

                </div>
            </v-tab-item>
            
            <!-- Permissions tab -->
            <v-tab-item>
                <div class="tab-content no-padding">

                    <!-- User permissions form -->
                    <user-permissions-form
                        :user="user"
                        :permissions="permissions"
                        :permission-groups="permissionGroups">
                    </user-permissions-form>

                </div>
            </v-tab-item>

        </v-tabs>

    </div>
</template>

<script>
    import { EventBus } from './../../../event-bus.js';
    export default {
        props: [
            "user",
            "roles",
            "permissions",
            "permissionGroups",
            "oldInput",
        ],
        data: () => ({
            tag: "[user-form]",
            roleOptions: [],
            booleanOptions: [],
            annotationOptions: [],
            activeTab: 0,
            form: {
                roles: [],
                annotation: "",
                firstName: "",
                lastName: "",
                email: "",
                emailVerified: false,
                password: "",
                passwordConfirmation: "",
            },
        }),
        computed: {
            encodedRoles() {
                return JSON.stringify(this.form.roles);
            }
        },
        watch: {
            "form.roles": function() {
                console.log(this.tag+" role selection changed", this.form.roles);
                let roles = [];
                for (let i = 0; i < this.form.roles.length; i++) {
                    for (let j = 0; j < this.roles.length; j++) {
                        if (this.roles[j].name === this.form.roles[i]) {
                            roles.push(this.roles[j]);
                            break;
                        }
                    }
                }
                console.log(this.tag+" roles: ", roles);
                EventBus.$emit("user-form__roles-selected", roles);
            }
        },
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" user: ", this.user);
                console.log(this.tag+" roles: ", this.roles);
                console.log(this.tag+" permissions: ", this.permissions);
                console.log(this.tag+" permission groups: ", this.permissionGroups);
                console.log(this.tag+" old input: ", this.oldInput);
                this.initializeData();
            },
            initializeData() {
                this.generateRoleOptions();
                this.generateBooleanOptions();
                this.generateAnnotationOptions();
                if (this.user !== undefined && this.user !== null) {
                    this.form.annotation = this.user.annotation;
                    this.form.firstName = this.user.first_name;
                    this.form.lastName = this.user.last_name;
                    this.form.email = this.user.email;
                    this.form.emailVerified = this.user.email_verified === "true" ? true : false;
                    if (this.user.roles !== undefined && this.user.roles !== null && this.user.roles.length > 0) {
                        for (let i = 0; i < this.user.roles.length; i++) {
                            this.form.roles.push(this.user.roles[i].name);
                        }
                    }
                    if (this.user.permissions !== undefined && this.user.permissions !== null && this.user.permissions.length > 0) {
                        for (let i = 0; i < this.user.permissions.length; i++) {

                        }
                    }
                }
                if (this.oldInput !== undefined && this.oldInput !== null) {
                    if (this.oldInput.annotation !== null) this.form.annotation = this.oldInput.annotation;
                    if (this.oldInput.first_name !== null) this.form.firstName = this.oldInput.first_name;
                    if (this.oldInput.last_name !== null) this.form.lastName = this.oldInput.last_name;
                    if (this.oldInput.email !== null) this.form.email = this.oldInput.email;
                    if (this.oldInput.email_verified !== null) this.form.emailVerified = this.oldInput.email_verified;
                }
            },
            generateRoleOptions() {
                if (this.roles !== undefined && this.roles !== null && this.roles.length > 0) {
                    for (let i = 0; i < this.roles.length; i++) {
                        this.roleOptions.push({
                            text: this.roles[i].name,
                            value: this.roles[i].name
                        });
                    }
                }
            },
            generateBooleanOptions() {
                this.booleanOptions.push({ text: "Yes", value: true, });
                this.booleanOptions.push({ text: "No", value: false });
            },
            generateAnnotationOptions() {
                this.annotationOptions.push({ text: "Mr.", value: "Mr." });
                this.annotationOptions.push({ text: "Mrs.", value: "Mrs." });
            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    #user-form {
        border-radius: 3px;
        overflow: hidden;
        .tab-content {
            padding: 25px;
            box-sizing: border-box;
            &.no-padding {
                padding: 0;
            }
            .permission-header {
                font-size: 1.3em;
                padding: 15px 25px;
            }
        }
        #name-fields {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            #name-fields__annotation {
                flex: 0 0 200px;
            }
            #name-fields__first-name {
                flex: 1;
                padding-left: 20px;
            }
            #name-fields__last-name {
                flex: 1;
                padding-left: 20px;
            }
        }
    }
</style>