<template>
    <div class="user-permissions">

        <!-- Permissions -->
        <div class="permissions-groups" v-if="mutablePermissionGroups.length > 0">

            <!-- Permission group -->
            <div class="permission-group" v-for="(group, gi) in permissionGroups" :key="gi">

                <!-- Permission group header -->
                <div class="permission-group__header">
                    <div class="permission-group__header-text">{{ group.name }}</div>
                </div>

                <!-- Permissions list -->
                <div class="permission-group__permissions" v-if="group.permissions.length > 0">

                    <!-- Permission -->
                    <div class="permission" v-for="(permission, pi) in group.permissions" :key="pi">
                        <div class="permission-name">{{ permission.name }}</div>
                        <div class="permission-field">

                            <!-- Permission! -->
                            <div class="has-permission" v-if="permission.enabled">
                                <i class="far fa-check-circle"></i>
                            </div>

                            <!-- No permission! -->
                            <div class="no-permission" v-else>
                                <i class="far fa-times-circle"></i>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- No permissions -->
                <div class="permission-group__no-permissions" v-if="group.permissions.length === 0">
                    No permissions     
                </div>
                
            </div>

        </div>

        <!-- No permissions -->
        <div class="no-permission-groups" v-if="mutablePermissionGroups.length === 0">
            No permissions currently exist in the database.
        </div>
        
    </div>
</template>

<script>
    export default {
        props: [
            "user",
            "permissions",
            "permissionGroups",
        ],
        data: () => ({
            tag: "[user-permissions]",
            mutablePermissionGroups: [],
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" user: ", this.user);
                console.log(this.tag+" permissions: ", this.permissions);
                console.log(this.tag+" permission groups: ", this.permissionGroups);
                this.initializeData();
            },
            initializeData() {

                // Process all of the permission groups
                for (let i = 0; i < this.permissionGroups.length; i++) {
                    let group = this.permissionGroups[i];
                    if (group.permissions.length > 0) {
                        let permissions = [];
                        for (let j = 0; j < group.permissions.length; j++) {
                            let permission = group.permissions[j];
                            permission.selected = false;
                            if (this.role !== undefined && this.role !== null && this.role.permissions.length > 0) {
                                for (let k = 0; k < this.role.permissions.length; k++) {
                                    if (this.role.permissions[k].name === permission.name) {
                                        permission.selected = true;
                                        break;
                                    }
                                }
                            }
                            permissions.push(permission);
                        }
                        group.permissions = permissions;
                    }
                    this.mutablePermissionGroups.push(this.permissionGroups[i]);
                }
                
                // Collect all of the permissions that don't have a parent PermissionGroup
                let grouplessPermissions = [];
                for (let i = 0; i < this.permissions.length; i++) {
                    if (this.permissions[i].permission_group_id === 0) {
                        let permission = this.permissions[i];
                        permission.selected = false;
                        grouplessPermissions.push(this.permission);
                    }
                }
                
                // If we found some permissions that don't have a group
                if (grouplessPermissions.length > 0) {
                    // Create a new group for them and add it to the collection of mutable groups
                    this.mutablePermissionGroups.push({
                        name: "Individual permissions",
                        description: "All permissions that haven't been grouped.",
                        permissions: grouplessPermissions
                    });
                }

                // If a user was provided
                if (this.user !== undefined && this.user !== null) {
                    console.log(this.tag+" a user was provided");
                    
                    // If the user has individual permissions granted on his/her ass
                    if (this.user.permissions !== undefined && this.user.permissions !== null && this.user.permissions.length > 0) {
                        for (let i = 0; i < this.user.permissions.length; i++) {
                            
                            // Save reference to the user's permission we're currently processing
                            let userPermission = this.user.permissions[i];

                            // Flag if we've enabled the permission so we can break out of unneccesary loops below
                            let enabledPermission = false;

                            // Find the permission in our mutable permission groups collection
                            for (let j = 0; j < this.mutablePermissionGroups.length; j++) {
                                if (enabledPermission) break;
                                if (this.mutablePermissionGroups[j].permissions.length > 0) {
                                    for (let k = 0; k < this.mutablePermissionGroups[j].permissions.length; k++) {
                                        if (enabledPermission) break;
                                        if (this.mutablePermissionGroups[j].permissions[k].id === userPermission.id) {
                                            this.mutablePermissionGroups[j].permissions[k].enabled = true;
                                            enabledPermission = true;
                                        }
                                    }
                                }
                            }

                        }
                    }

                    // If the user has roles
                    if (this.user.roles !== undefined && this.user.roles !== null && this.user.roles.length > 0) {
                        for (let i = 0; i < this.user.roles.length; i++) {

                            // If the user's role has permissions
                            if (this.user.roles[i].permissions !== undefined && this.user.roles[i].permissions !== null && this.user.roles[i].permissions.length > 0) {
                                for (let j = 0; j < this.user.roles[i].permissions.length; j++) {

                                    // Save reference to the role's permissions
                                    let rolePermission = this.user.roles[i].permissions[j];

                                    // Flag if we've enabled the permission so we can break out of unneccesary loops below
                                    let enabledPermission = false;

                                    // Find the permission in our mutable permission groups collection
                                    for (let k = 0; k < this.mutablePermissionGroups.length; k++) {
                                        if (enabledPermission) break;
                                        if (this.mutablePermissionGroups[k].permissions.length > 0) {
                                            for (let l = 0; l < this.mutablePermissionGroups[k].permissions.length; l++) {
                                                if (enabledPermission) break;
                                                if (this.mutablePermissionGroups[k].permissions[l].id === rolePermission.id) {
                                                    this.mutablePermissionGroups[k].permissions[l].enabled = true;
                                                    enabledPermission = true;
                                                }
                                            }
                                        }
                                    }

                                }
                            }

                        }
                    }

                }

            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .user-permissions {
        overflow: hidden;
        border-radius: 3px;
        .permissions-groups {
            .permission-group {
                .permission-group__header {
                    display: flex;
                    flex-direction: row;
                    padding: 15px 25px;
                    box-sizing: border-box;
                    background-color: #fcfcfc;
                    .permission-group__header-text {
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .permission-group__header-actions {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }
                .permission-group__permissions {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    .permission {
                        display: flex;
                        flex: 0 0 25%;
                        flex-direction: row;
                        border-right: 1px solid #fcfcfc;
                        border-bottom: 1px solid #fcfcfc;
                        .permission-name {
                            flex: 1;
                        }
                        .permission-field {
                            .no-permission {
                                color: #F44336;
                            }
                            .has-permission {
                                color: #4CAF50;
                            }
                        }
                        .permission-name, .permission-field {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 10px 25px;
                            box-sizing: border-box;
                        }
                        &:nth-child(4n) {
                            border-right: 0;
                        }
                    }
                }
            }
        }
        .no-permission-groups {
        }
    }
</style>
