<template>
    <div id="remember-me-input">
        <v-checkbox label="Remember me" v-model="rememberMe" class="mt-0" hide-details></v-checkbox>
        <input type="hidden" :name="inputName" :value="rememberMe" />
    </div>
</template>

<script>
    export default {
        props: [
            "name"
        ],
        data: () => ({
            tag: "[remember-me-input]",
            rememberMe: true
        }),
        computed: {
            inputName() {
                return this.name !== undefined && this.name !== null ? this.name : "remember_me";
            }
        },
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
            }
        },
        mounted() {
            this.initialize();
        }
    }
</script>