<template>
    <div id="resend-verification-email-button">

        <!-- Errors -->
        <div id="resend-verification-email-button__errors" v-if="errors.length > 0">
            <div class="resend-verification-email-button__error" v-for="(error, ei) in errors" :key="ei">
                {{ error }}
            </div>
        </div>

        <!-- Retry button -->
        <v-btn large color="primary" @click.stop="onClickResend" :loading="loading">
            {{ buttonText }}
        </v-btn>

    </div>
</template>

<script>
    export default {
        props: [
            "userUuid",
            "buttonText",
            "apiEndpoint",
            "redirectEndpoint",
        ],
        data: () => ({
            tag: "[resend-verification-email-button]",
            loading: false,
            errors: []
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" user uuid: ", this.userUuid);
                console.log(this.tag+" button text: ", this.buttonText);
                console.log(this.tag+" api endpoint: ", this.apiEndpoint);
                console.log(this.tag+" redirect endpoint: ", this.redirectEndpoint);
            },
            onClickResend() {
                console.log(this.tag+" clicked the resend verification email button");

                // Reset the errors array
                this.errors = [];

                // Set loading flag to true
                this.loading = true;

                // Compose the payload we're sending to the API
                let payload = new FormData();
                payload.append("uuid", this.userUuid);

                // Make the API request
                axios.post(this.apiEndpoint, payload)
                    .then(function(response) {
                        console.log(this.tag+" api request succeeeded, response: ", response.data);
                        
                        // Set loading flag to false
                        this.loading = false;

                        // If the operation succeeded
                        if (response.data.success) {

                            // Redirect the user to the specified (success) page
                            window.location.replace(this.redirectEndpoint);

                        // If the operation failed on the backend
                        } else {
                            this.errors.push("For some reason our email service failed to send you an email, please try again later.");
                        }

                    }.bind(this))
                    .catch(function(error) {
                        console.warn(this.tag+" api request failed, error: ", error);
                        this.loading = false;
                        this.errors.push(error);
                    }.bind(this));
            }
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    #resend-verification-email-button {

    }
</style>