<template>
    <div id="two-factor-setup">

        <!-- Step 1: Download app -->
        <div class="setup-step" v-if="step === 0">

            <!-- Title -->
            <div class="setup-step__title">Step 1. Download an app</div>

            <!-- Content -->
            <div class="setup-step__content">
                The first thing you need to do is download a two-step authentication app on your mobile device. We recommend Google Authenticator.
                <div class="subnotes">
                    Alternatives are <i>Authy</i>, <i>FreeOTP</i>, <i>Microsoft Authenticator</i>, <i>LastPass Authenticator</i> and <i>1Password</i>.
                </div>
            </div>

            <!-- Controls -->
            <div class="setup-step__controls">
                <div class="setup-step__controls-right">
                    <v-btn color="primary" @click="onClickNext">
                        Next
                    </v-btn>
                </div>
            </div>

        </div>

        <!-- Step 2: Scan QR code -->
        <div class="setup-step" v-if="step === 1">

            <!-- Title -->
            <div class="setup-step__title">Step 2. Scan the QR code</div>

            <!-- Content -->
            <div class="setup-step__content">
                Scan the code below to link your device to your account.
                <div class="qr-image-wrapper">
                    <img class="qr-image" :src="qrImageUrl" />
                </div>
            </div>

            <!-- Controls -->
            <div class="setup-step__controls">
                <div class="setup-step__controls-left">
                    <v-btn color="primary" @click="onClickBack">
                        Back
                    </v-btn>
                </div>
                <div class="setup-step__controls-right">
                    <v-btn color="primary" @click="onClickNext">
                        Next
                    </v-btn>
                </div>
            </div>

        </div>
    
        <!-- Step 3: Verify code -->
        <div class="setup-step" v-if="step === 2">

            <!-- Title -->
            <div class="setup-step__title">Step 3. Verification</div>

            <!-- Content -->
            <div class="setup-step__content">
                Verify that your device has been linked to your account by filling in the code currently being displayed on your device.
                <div class="verification-field">
                    <v-text-field 
                        label="Code" 
                        v-model="form.code" 
                        name="code" 
                        class="mb-0" 
                        hide-details
                        browser-autocomplete="off">>
                    </v-text-field>
                </div>
            </div>

            <!-- Controls -->
            <div class="setup-step__controls">
                <div class="setup-step__controls-left">
                    <v-btn color="primary" @click="onClickBack">
                        Back
                    </v-btn>
                </div>
                <div class="setup-step__controls-right">
                    <v-btn type="submit" color="primary">
                        Verify
                    </v-btn>
                </div>
            </div>

        </div>

        <!-- Hidden input which allows us to detect whether the form has been posted or not -->
        <input type="hidden" name="submitted" value="yes" />
        
    </div>
</template>

<script>
    export default {
        props: [
            "qrImageUrl",
            "oldInput",
        ],
        data: () => ({
            tag: "[2fa-setup]",
            step: 0,
            form: {
                code: ""
            }
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" qr image url : ", this.qrImageUrl);
                console.log(this.tag+" old input: ", this.oldInput);
                if (this.oldInput !== undefined && this.oldInput !== null) {
                    if (this.oldInput.submitted === "yes") {
                        this.step = 2;
                    }
                }
            },
            onClickNext() {
                console.log(this.tag+" clicked next button");
                this.step += 1;
            },
            onClickBack() {
                console.log(this.tag+" clicked back button");
                this.step -= 1;
            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    #two-factor-setup {
        .setup-step {
            .setup-step__title {
                font-size: 1.2em;
                font-weight: bold;
                text-align: center;
                margin-bottom: 15px;
            }
            .setup-step__content {
                text-align: center;
                margin-bottom: 15px;
                .subnotes {
                    font-size: .8em;
                    margin-top: 5px;
                    color: rgba(0, 0, 0, 0.55);
                }
                .qr-image-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
                .verification-field {
                    width: 200px;
                    box-sizing: border-box;
                    margin: 15px auto 0 auto;
                }
            }
            .setup-step__controls {
                display: flex;
                flex-direction: row;
                .setup-step__controls-left, .setup-step__controls-right {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                .setup-step__controls-right {
                    justify-content: flex-end;
                }
            }
        }
    }
</style>